<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id="Ballot">
  
  <table border="1">
        
    <div>
      <tr class="h">
          <th >Party Name</th>
          <th>Party logo</th>
          <th>Candidate Name</th>
          <th>Candidate Image</th>
          <th>Vote</th>
      </tr>
    

   
      <tr>
        <td><b>BJP</b></td>
        <td><img src="symbol1.jpg" alt="party symbol" height="100px" width="100px"></td>
        <td><b>Siva</b></td>
        <td><img src="candidate1.jpg" alt="candidate image" height="100px" width="100px"></td>
         <td> <button id="vote"><a href="Thanks.html">Vote</a></button></td>

      </tr>
    
            
        <tr>
            <td><b>INC</b></td>
            <td><img src="symbol2.jpg" alt="party symbol" height="100px" width="100px"></td>
            <td><b>Riya</b></td>
            <td><img src="candidate2.jpg" alt="candidate image" height="100px" width="100px"></td>
            <td><button id="vote"><a href="Thanks.html">Vote</a></button></td>
        </tr>
        
        
     <tr>
        <td><b>CPI</b></td>
        <td><img src="symbol3.jpg" alt="party symbol" height="100px" width="100px"></td>
        <td><b>Ram</b></td>
        <td><img src="candidate3.jpg" alt="candidate image" height="100px" width="100px"></td>
        <td><button id="vote"><a href="Thanks.html">Vote</a></button></td>
     </tr>
    
      
     <tr>
        <td><b>Independent</b></td>
        <td><img src="symbol4.jpg" alt="party symbol" height="100px" width="100px"></td>
        <td><b>Sri</b></td>
        <td><img src="candidate4.jpg" alt="candidate image" height="100px" width="100px"></td>
        <td><button id="vote"><a href="Thanks.html">Vote</a></button></td>
     </tr>
     
    
  </table>
</div>
  

 
</body>
</html>