<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidates available</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id="candidate" >
   
    
    <div id="choices">

        <img src="candidate1.jpg"   height="200px" width="10%"/><br />
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="1"></div>
          </div>
          <div class="label">
            <p><b>Siva -BJP</b></p>
           
          </div>
        </div>
        <br><br>

        <img src="candidate2.jpg" data-value="bar"  height="200px" width="10%"/><br />
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="2"></div>
          </div>

          <div class="label">
            <p><b>Riya-INC</b> </p>
            
          </div>
        </div>
        <br><br>
        <img src="candidate3.jpg" data-value="bar"  height="200px" width="10%"/><br />
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="3"></div>
          </div>
          <div class="label">
            <p><b>Ram -CPI</b></p>
           
          </div>
        </div>
        <img src="candidate4.jpg" data-value="bar"  height="200px" width="10%"/><br />
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="4"></div>
          </div>

          <div class="label">
            <p><b>Sri -Independent</b></p>
            
          </div>
        </div>
        <br><br>

      </div>
  
   
</body>
</html>